{% extends "aplicacion/index.html" %}

{% block titulo %}
<div class="masthead-heading text-center text-uppercase">Acerca de mí</div>
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="section-heading text-uppercase mb-4"></h2>
            <h2 class="section-heading text-uppercase mb-4">¡Hola lectores!</h2>
            <p class="text-muted">Soy Agustina, una estudiante de informática de 24 años con una gran pasión por los libros. 
            He creado esta página web de mi libreria porque me apasiona compartir mi amor por la literatura con los demás. 
            Mi objetivo es proporcionar a los visitantes una plataforma donde puedan explorar los libros disponibles, descubrir los best sellers más recientes y 
            localizar las sucursales de "Libreria del bosque" donde adquirirlos. 
            Me esfuerzo por ofrecer una experiencia de usuario enriquecedora y accesible para todos los amantes de la lectura, centrándome en la excelencia y la satisfacción del cliente
            en todo momento. ¡Espero que disfruten explorando mi librería en línea!</p>
        </div>
    </div>
</div>
{% endblock contenido %}