{% extends "aplicacion/index.html" %}

{% block titulo %}
<div class="masthead-subheading">Los favoritos de todos</div>
<div class="masthead-heading text-uppercase">Best Sellers</div>
{% endblock titulo %}

{% block contenido %}
<h2>Nuestros best sellers</h2>

<table>
    <tr>
        {% if user.is_authenticated %} 
        <td width="200"><h2>Best Sellers</h2></td>
        <td>
            <a
            href="{% url 'bestSeller_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-plus" title="Crear"> </i>
            </a>

            <a href="{% url 'buscar_bestSeller' %}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-magnifying-glass" title="Buscar libros"></i>
                
            </a>
        </td>
        {% endif %}
               
    </tr>
</table>

{% if form %}
<table>
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td colspan="6">
                <button type="submit" class="btn btn-success">Editar</button>
            </td>
        </tr>
    </form>
</table>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Genero</th>
            <th>Precio</th>
            
        </tr>
    </thead>
    <tbody>
    {% for c in bestSeller  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.autor}}</td>
            <td>{{ c.editorial }}</td>
            <td>{{ c.genero }}</td>
            <td>{{ c.precio }}</td>

            {% if user.is_authenticated %} 
            <td> 
                <a
                  href="{% url 'bestSeller_update' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa-regular fa-pen-to-square" title="Edit Record"></i>
                </a>
                <a
                href="{% url 'bestSeller_delete' c.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa-solid fa-delete-left" title="Delete Record"></i>
              </a>                              
            </td> 
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock contenido %}