{% extends "aplicacion/index.html" %}

{% block titulo %}
<div class="masthead-subheading">De la escuela a la oficina, todo en un solo lugar</div>
<div class="masthead-heading text-uppercase">Libreria</div>
{% endblock titulo %}

{% block contenido %}
<h2>Explora nuestros articulos de libreria</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th> 
            <th>Articulo</th>
            <th>Precio</th>
            
        </tr>
    </thead>
    <tbody>
    {% for c in libreria  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.articulo }}</td>
            <td>{{ c.precio}}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock contenido %}
