{% extends "aplicacion/index.html" %}

{% block titulo %}
<div class="masthead-subheading">Uniendo historias y saberes en cada rincon</div>
<div class="masthead-heading text-uppercase">Sucursales</div>
{% endblock titulo %}


{% block contenido %}
<h2>Conoce nuestras sucursales</h2>

<table>
    <tr>
        <td width="200"><h2>Sucursales</h2></td>

        {% if user.is_authenticated %} 
        <td>
            <a
            href="{% url 'sucursales_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-plus" title="Crear"> </i>
            </a>
        </td>      
        
        {% endif %}  
    </tr>
</table>

{% if form %}
<table>
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td colspan="3">
                <button type="submit" class="btn btn-success">Editar</button>
            </td>
        </tr>
    </form>
</table>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dirección</th>
            <th>Contacto</th>
        </tr>
    </thead>
    <tbody>
    {% for c in sucursales  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.direccion }}</td>
            <td>{{ c.contacto}}</td>

            {% if user.is_authenticated %} 
            <td> 
                <a
                  href="{% url 'sucursales_update' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa-regular fa-pen-to-square" title="Edit Record"></i>
                </a>
                <a
                href="{% url 'sucursales_delete' c.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa-solid fa-delete-left" title="Delete Record"></i>
              </a>                               
            </td> 
            {% endif %} 
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock contenido %}